<div class="row">
  <div class="col-md-4">
    <h2>TO DO</h2>

    <div class="panel panel-info">
      <div class="panel-heading">
        My To Do
      </div>

      <div class="panel-body">
        This is my to do list!
      </div>

      <div class="panel-footer">
        This is th to do list footer.
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <h2>DOING</h2>
    
    <div class="panel panel-info">
      <div class="panel-heading">
        My Doing
      </div>

      <div class="panel-body">
        This is my to do list!
      </div>

      <div class="panel-footer">
        This is th to do list footer.
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2>DONE</h2>
    
    <div class="panel panel-info">
      <div class="panel-heading">
        My Done
      </div>

      <div class="panel-body">
        This is my to do list!
      </div>

      <div class="panel-footer">
        This is th to do list footer.
      </div>
    </div>
  </div>
</div>